body {
  margin: 0;
  padding: 0;
  background-image: url("/www/img/home.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Arima", sans-serif;
  color: #65574d;
  font-weight: 700;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #8bd7f3;
  color: #65574d;
  border-color: #65574d;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}
