body {
  margin: 0;
  padding: 0;
  background-color: #6fb6cf;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Arima", sans-serif;
  color: #65574d;
  font-weight: 700;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #8bd7f3;
  color: #65574d;
  border-color: #65574d;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}

main {
  text-align: center;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
}

.profil-container {
  text-align: center;
  padding: 30px 20px;
}

.profilbild {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #65574d;
  margin-bottom: 20px;
}

.profil-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.profil-rang {
  font-size: 18px;
  color: #555;
}

.editable {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  display: flex;
  justify-content: center;
}

.edit-icon {
  cursor: pointer;
  font-size: 14px;
  color: #666;
}
.edit-icon:hover {
  color: #000;
}

input {
  font-size: 1em;
  padding: 2px 4px;
}
